body
{
	font-family: sans-serif;
	font-size: 100%;
	margin: 20px;
	color: #eee;
	background-color: #444;
}

h1
{
 	
	font-size: 2em;
	font-weight: normal;
	margin: 0 0 0.5em 0;
	padding: 0.2em;
	text-shadow: 1px 1px 1px #fff, -1px -1px 1px #000;
}
header
{
	background-color: #234FFF;
	border-radius: 5px;
	width: 900px;  height: 90px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.8);
}

footer{	clear:both; float:bottom; text-align:center; padding:5px; 		}

/*     ######### ELEMENTS #######    */

div.div1{ float:left; padding:5px; border-radius:5px; box-shadow:2px 2px 5px rgba(0,0,0,0.5); border:5px solid black;  width:650px; height:150px; margin:10px; overflow: auto; -webkit-transition: all 1s ease-out; transition: all 1s ease-out;	}      
div.div2{ float:right; padding:5px;  margin:10px; overflow: auto; 	}    
div.div3{ float:left; padding:5px; border-radius:5px; box-shadow:2px 2px 5px rgba(0,0,0,0.5); border:5px solid black;  width:650px; height:300px; margin:10px; overflow: auto; -webkit-transition: all 1s ease-out; transition: all 1s ease-out; }    

.mybox
{
	float: right;
	width: 8em;
	height: 2em;
	padding: 0.5em;
	margin: 1em 3em;
	color: #333;
	background-color: #eee;
	background-image: linear-gradient(#fff, #ccc);
	border-radius: 1em;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.8);

	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.mybox h2
{
	font-size: 1em; line-height: 1em; text-align: center; 
    margin: 0.3em auto;
}
.mybox p
{
	font-size: 0.4em; text-align: center; margin: 0.3em 0;
	color: #555;
}
.mybox:hover
{
	-webkit-transform: rotate(25deg);
	transform: rotate(25deg);
	
}

/*
div.div2
{
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;            }

*/
/*
div.div2:hover 
{
	-webkit-transform: perspective(0px) translate(200%);
	transform: perspective(0px) translate(200%);        } 


#fff {
    width:1200px;
    height:610px;
    background-image:url("images/Desktop.png");

}

*/

nav { margin:0;   }
nav ul li {display:inline; padding:2px 50px; }
nav ul li a {text-decoration:none; color:black;   }
nav ul li a:hover { color:white;   }


.pageIcon { float: right; height:100px; background-image: linear-gradient:(#fff, #ccc);   }

